@model IEnumerable<EventMarketplace.Models.CasaDeShow>
@{
    Layout = "_LayoutAdmin";
}
<h2>Casa de Show</h2>
<a asp-action="NovaCasaDeShow" asp-controller="Admin" class="btn btn-success">Criar nova casa de show</a>
<hr>

<script>
    $(document).ready(function () {
        $('#casaDeShow').DataTable({
            "info": false,
            "language": {
                "lengthMenu": "Mostrando _MENU_ Registros por página",
                "zeroRecords": "Nada encontrado",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponível",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Ultimo",
                    "next": "Proximo",
                    "previous": "Anterior"
                }
            }
        });
    });
</script>

<table id="casaDeShow" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var casaDeShow in Model)
        {
            <tr>
                <td>@casaDeShow.Id</td>
                <td>@casaDeShow.Nome</td>
                <td>@casaDeShow.Endereco</td>
                <td><a href="/Admin/EditarCasaDeShow/@casaDeShow.Id" class="btn btn-primary">Editar</a>

                    <form asp-action="Deletar" asp-controller="CasaDeShow" style="display: inline;">
                        <input type="hidden" name="id" id="id" value="@casaDeShow.Id">
                        <button class="btn btn-danger">Deletar</button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>
