@model EventMarketplace.DTO.CasaDeShowDTO

@{
    Layout = "_LayoutAdmin";
}
<h2>Editar Produto</h2>
<form class="form-horizontal" asp-controller="CasaDeShow" asp-action="Atualizar" method="POST">

    <input type="hidden" asp-for="Id">

    <label asp-for="Nome">Nome</label>
    <input class="form-control" type="text" asp-for="Nome" placeholder="Nome da casa de show"><br>
    <span asp-validation-for="Nome"></span>

    <label asp-for="Endereco">Endereço</label>
    <input class="form-control" type="text" asp-for="Endereco" placeholder="Endereço"><br>
    <span asp-validation-for="Endereco"></span>
    <button class="btn btn-success">Atualizar</button>
</form>
