@model EventMarketplace.DTO.CasaDeShowDTO

@{
    Layout = "_LayoutAdmin";
}
@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Editar Casa de Show</h2>
<form class="form-horizontal" asp-controller="CasaDeShow" asp-action="Atualizar" method="POST">

    <input type="hidden" asp-for="Id">

    <label asp-for="Nome">Nome</label>
    <input class="form-control" type="text" asp-for="Nome" placeholder="Nome da casa de show">
    <span asp-validation-for="Nome"></span><br>

    <label asp-for="Endereco">Endereço</label>
    <input class="form-control" type="text" asp-for="Endereco" placeholder="Endereço">
    <span asp-validation-for="Endereco"></span><br>
    <button class="btn btn-success">Atualizar</button>
</form>
