@model EventMarketplace.DTO.CasaDeShowDTO
@{
    Layout = "_LayoutAdmin";
}
@{
    ViewData["Title"] = "Admin Dashboard";
}
<h2>Nova Casa de Show</h2>
<hr>
<form class="form-horizontal" asp-controller="CasaDeShow" asp-action="Salvar" method="POST">

    <input type="hidden" asp-for="Id" value="0">

    <label asp-for="Nome">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Nome da casa de show">
    <span asp-validation-for="Nome"></span><br>

    <label asp-for="Endereco">Endereço</label>
    <input type="text" asp-for="Endereco" class="form-control"
        placeholder="Exemplo: São Paulo, AlphaVille - R. São João da Silva numero: 123">
    <span asp-validation-for="Endereco"></span><br>

    <button class="btn btn-success">Cadastrar</button>
</form>
