@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
<div style="margin-left: 4rem;">
    <h1>@ViewData["Title"]</h1>
    @{
        if (@Model.DisplayConfirmAccountLink)
        {
            <p>
                <a id="confirm-link" href="@Model.EmailConfirmationUrl">Clique aqui para
                    confirmar sua conta</a>
            </p>
        }
        else
        {
            <p>
                Por favor cheque seu email para confirmar a conta.
            </p>
        }
    }
</div>